<div class="btn-group bootstrap-select show-tick">
  <button type="button" class="btn dropdown-toggle form-control bs-placeholder" data-toggle="dropdown" role="button" title="Choose Departments" aria-expanded="false">
    <span class="filter-option pull-left">Choose Departments</span>&nbsp;
    <span class="bs-caret">
      <span class="caret"></span>
    </span>

    <select class="selectpicker" data-style="form-control" multiple="" title="Choose Departments" data-size="7" tabindex="-98">
    	<option disabled=""> Multiple Options</option>
    	<option value="2">Paris </option>
    </select>
    <div class="ripple-container">
      <div class="ripple ripple-on ripple-out" style="left: 535px; top: 2862px; background-color: rgb(60, 72, 88); transform: scale(26.718751907348633);">
      </div>
    </div>
  </button>
</div>
