<div>
<%= link_to conversation_path(conversation) do %>
  <%= small_gravatar_for(conversation.with(current_user), size: 30) %> <b><%= conversation.with(current_user).nickname %></b>
  <br>
  <em><%= conversation.personal_messages.last.body.truncate(50) %></em>
  <br>
  <hr>
<% end %>
</div>
