<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card card-profile card-plain">
        <div class="card-image">
          <a href="#pablo">
            <%= image_tag("jack.jpg", class: "img", alt: "Picture of Jack") %>
          </a>
          <div class="colored-shadow" style="background-image: url("/images/jack.jpg"); opacity: 1;"></div>
          <div class="ripple-container"></div>
        </div>

        <div class="card-content">
          <h4 class="card-title">Jack Moody</h4>
          <h6 class="category text-muted">Founder</h6>

          <div class="footer">
            <a href="https://www.linkedin.com/in/jacklaytonmoody/" class="btn btn-just-icon btn-linkedin btn-round"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.facebook.com/jack.moody.1293" class="btn btn-just-icon btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
