<% content_for :body_class, "about-us" %>
<% content_for :nav_transparent, true %>
<div class="page-header header-filter" data-parallax="true" filter-color="primary-solid">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="title">About Us</h1>
				<h4>Meet the team behind this project and find out more about how we work.</h4>
			</div>
		</div>
	</div>
</div>
<div class="main main-raised">
	<div class="container">
		<div class="about-description text-center">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="title">University for the students</h2>
					<h5 class="description">
						List Overflow is a network of university students with a common goal: making school reasonably affordable. With the average college student spending around $1200 a year on textbooks and supplies (<a href="https://www.cnbc.com/2014/01/28/college-textbook-costs-more-outrageous-than-ever.html">according to CNBC and College Board</a>), now is a better time than ever to take advantage of a more competitive marketplace: your own college campus. By cutting the middle man, List Overflow simplifies selling textbooks for buyers and sellers.
					</h5>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="title">Want to work with us?</h2>
				<h5 class="description">
					We are looking to expand operations into a school like yours! Applications to become a school representative are now open.
				</h5>
				<a href="https://docs.google.com/forms/d/1L5IPewFNRD-IMNlURmaNy4VHyEa-6KFwWKFMrgZc4O8">
					<button class="btn btn-primary">Apply</button>
				</a>
			</div>
		</div>
	</div>
</div>
