<h1>Privacy Policy</h1>
<b>Please read these Terms of Service carefully as they
  contain important information about your legal rights,
  remedies and obligations. By accessing or using the List Overflow Platform,
  you agree to comply with and be bound by these Terms of Service.</b>
  <hr />
