
// Temporary solution to devise messages (Make this equal to .alert-danger and .alert-success in future)
.alert-alert{
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}
// Load fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');
// Set images
#login{
  background-image: url('book1.jpg');
  background-size: cover;
  background-position: top center;
}

#register{
  background-image: url('book1.jpg');
  background-size: cover;
  background-position: top center;
}

html, body{
  background-color: white;
}

// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colors
$main-black: #363732;
$main-gray: #546A76;
$main-light-blue: #3AB4FF;
$main-light-blue-dark: #007ECC;
$main-navy: #12355B;
$main-light-green: #55DDA9;
$main-light-green-dark: #22AA76;
$main-light-red: #FF3341;
$main-light-red-dark: #CC000E;
$main-white: #EAEAEA;
$white: #FFFFFF;
$primary: #3AB4FF;

.category-list{
  margin: 0 0 6px 0;
}

.center{
  text-align:center;
}

// basics
a{
  text-decoration: none;
}

footer{
  margin-top:45px;
  padding-top:5px;
  margin-bottom:10px;
  border-top:1px solid $main-white;
  color:#777;
    a:hover{
      color:$main-black;
    }

  ul{
    list-style:none;
    float:right;
    li{
      float:left;
      margin-left:15px;
    }
  }
}

li{
  list-style-type: none;
}

.required{
  color: $red-400;
}

.homepage{
  background-image: image-url("book2.jpg");
  transform: translate3d(0px, 0px, 0px);
}

.moody-ventures{
  color: inherit;
  padding: 8px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
}

.no-listings{
  margin-bottom: 50px;
}

#notification {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #fff;
  .close {cursor: pointer}
}
