<% if flash.any? %>
<div class="row message-space">
  <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |name,msg| %>
    <div class='alert alert-<%="#{name}"%>'>
        <div class="alert-icon">
  						<i class="material-icons">
                <% if name == "success" %>
                  check
                <% elsif name == "info" %>
                  info_outline
                <% elsif name == "danger" || "alert" %>
                  error_outline
                <% elsif name == "warning" %>
                  warning
                <% end %>
              </i>
  					</div>
      <a href="#" class = "close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
    </div>
    <%end%>
  </div>
</div>
<% end %>
